# Import libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import StandardScaler

# Data Collection and Analysis

In [2]:
# Loading the cancer patient data sets to a pandas DataFrame
heart = pd.read_csv(r'F:\Machine Learning Project\healthcare-dataset-stroke-data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'F:\\Machine Learning Projecthealthcare-dataset-stroke-data.csv'

In [8]:
# Print the first 5 rows of the dataset 
heart.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [9]:
# number of rows and columns in this dataset
heart.shape

(5110, 12)

In [11]:
# Getting some informations about the dataset
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [12]:
# Checking for missing values
heart.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [13]:
# Statistical measure about the data
heart.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [15]:
heart['stroke'].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

In [17]:
# mean value of bmi column
heart['bmi'].mean()

28.893236911794673

In [19]:
# filling the missing value in bmi column with Mean value 
heart['bmi'].fillna(heart['bmi'].mean() ,inplace = True)

In [20]:
# Checking for missing values 
heart.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [22]:
le = LabelEncoder()

In [23]:
heart['gender']=le.fit_transform(heart['gender'])

heart['ever_married']=le.fit_transform(heart['ever_married'])

heart['work_type']=le.fit_transform(heart['work_type'])

heart['Residence_type']=le.fit_transform(heart['Residence_type'])

heart['smoking_status']=le.fit_transform(heart['smoking_status'])

In [24]:
heart.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,2,1,228.69,36.600000,1,1
1,51676,0,61.0,0,0,1,3,0,202.21,28.893237,2,1
2,31112,1,80.0,0,1,1,2,0,105.92,32.500000,2,1
3,60182,0,49.0,0,0,1,2,1,171.23,34.400000,3,1
4,1665,0,79.0,1,0,1,3,0,174.12,24.000000,2,1

In [25]:
# separating the data and labes 
X = heart.drop(columns = 'stroke',axis = 1)
Y = heart['stroke']

In [28]:
print(X)

         id  gender   age  hypertension  heart_disease  ever_married  \
0      9046       1  67.0             0              1             1
1     51676       0  61.0             0              0             1
2     31112       1  80.0             0              1             1
3     60182       0  49.0             0              0             1
4      1665       0  79.0             1              0             1
...     ...     ...   ...           ...            ...           ...
5105  18234       0  80.0             1              0             1
5106  44873       0  81.0             0              0             1
5107  19723       0  35.0             0              0             1
5108  37544       1  51.0             0              0             1
5109  44679       0  44.0             0              0             1

      work_type  Residence_type  avg_glucose_level        bmi  smoking_status
0             2               1             228.69  36.600000               1
1             3               0             202.21  28.893237               2
2             2               0             105.92  32.500000               2
3             2               1             171.23  34.400000               3
4             3               0             174.12  24.000000               2
...         ...             ...                ...        ...             ...
5105          2               1              83.75  28.893237               2
5106          3               1             125.20  40.000000               2
5107          3               0              82.99  30.600000               2
5108          2               0             166.29  25.600000               1
5109          0               1              85.28  26.200000               0

[5110 rows x 11 columns]

In [29]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [27]:
scaler = StandardScaler()
scaler.fit(X)
standardized_data = scaler.transform(X)

In [30]:
print(standardized_data)

[[-1.29831203e+00  1.18807255e+00  1.05143428e+00 ...  2.70637544e+00
   1.00123401e+00 -3.51780710e-01]
 [ 7.16371490e-01 -8.40343999e-01  7.86070073e-01 ...  2.12155854e+00
   1.38466607e-15  5.81552327e-01]
 [-2.55478192e-01  1.18807255e+00  1.62639008e+00 ... -5.02830130e-03
   4.68577254e-01  5.81552327e-01]
 ...
 [-7.93719586e-01 -8.40343999e-01 -3.63841511e-01 ... -5.11442636e-01
   2.21736316e-01  5.81552327e-01]
 [ 4.84965773e-02  1.18807255e+00  3.43796387e-01 ...  1.32825706e+00
  -4.27845098e-01 -3.51780710e-01]
 [ 3.85694957e-01 -8.40343999e-01  3.42048064e-02 ... -4.60867458e-01
  -3.49895329e-01 -1.28511375e+00]]

In [33]:
X = standardized_data
Y = heart['stroke']

# Train Test Split

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3, stratify = Y, random_state = 2)

In [35]:
print(X.shape, X_train.shape, X_test.shape)

(5110, 11) (3577, 11) (1533, 11)

# Support Vector Machine

In [37]:
classifier = svm.SVC(kernel = 'linear')

In [38]:
# Training the support vector Machine Classifier 
classifier.fit(X_train , Y_train)

SVC(kernel='linear')

In [39]:
# accuracy score on the training data 
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)

In [40]:
print('Accuracy score of the training data : ',training_data_accuracy)

Accuracy score of the training data :  0.9513558848196813

In [41]:
# accuracy score on the test data 
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction , Y_test)

In [42]:
print('Accuracy score of the test data : ',test_data_accuracy)

Accuracy score of the test data :  0.9510763209393346

# Random Forests

In [43]:
model = RandomForestClassifier()

In [44]:
model.fit(X_train , Y_train)

RandomForestClassifier()

In [45]:
# Accuracy score on the training data 
predict_X_train = model.predict(X_train )
training_accuracy = accuracy_score(predict_X_train , Y_train)

In [46]:
print('Accuracy score on training data : ',training_accuracy)

Accuracy score on training data :  0.9997204361196533

In [47]:
# Accuracy score on the test data
predict_X_test = model.predict(X_test)
test_accuracy = accuracy_score(predict_X_test , Y_test)

In [48]:
print('Accuracy score on test data : ',test_accuracy)

Accuracy score on test data :  0.9510763209393346